# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.AR Story.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Documents\programs\Unity\AR Story\.idea\.idea.AR Story\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
